.git
.github
.superpowers
.worktrees
dist
deploy_versions
node_modules
server/node_modules
src
cloudfunctions
scripts
docs
prototypes
config
types
*.md
!server/README.md
.DS_Store
.temp
.rn_temp
.swc
